<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Document</title>
  <link rel="stylesheet" href="/stylessheets/style.css">
</head>
<body>

  <h1 class="text-7xl text-center">Welcome Home</h1>

  <div>
      <form action="/create" method="post" class="flex">
        <input type="text" class="text-black p-4 m-4 bg-white rounded-md" name="name"  placeholder="Enter your name" >
        <input type="text" class="text-black p-4 m-4 bg-white rounded-md" name="email"  placeholder="Enter your email" >
        <input type="text" class="text-black p-4 m-4 bg-white rounded-md" name="image"  placeholder="Enter your PIC" >

        <input type="submit" class="text-blue-600 bg-yellow-500 p-2 rounded-sm " value="Create Now">
      </form>
  </div>
</body>
</html>